html {
  box-sizingL border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding:0;
}

#map {
  height: 900px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
